@media (min-width: 768px) and (max-width: 1023px) {
  .exampleimg {
    height: 70%;
    width: 31%;
    margin: 1%;
  }

  .rating1 {
    width: min-content;
    height: min-content;
   
   }
}

@media (min-width: 1024px) and (max-width: 2048px) {
  .exampleimg {
    height: 70%;
    width: 17%;
    margin: 1%;
  }
  .rating1 {
    width: min-content;
    height: min-content;
   
   }

  .popup {
    overflow-y: auto;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    max-height: 1400px;
  }
  /* Hide scrollbar for Chrome, Safari and Opera */
  .popup::-webkit-scrollbar {
    display: none;
  }
}

@media (min-width:320px) and (max-width:424px) {
  .rating1 {
   width: min-content;
   height: min-content;
  
  }
}
