

@media (min-width: 768px) and (max-width:1023px) {
  .exampleimg {
    height: 70%;
    width: 31%;
    margin: 1%;

  }
}

@media (min-width: 1024px) and (max-width:2048px) {
.exampleimg {
  height: 70%;
  width: 17%;
  margin: 1%;
}

.popup {
overflow-x:hidden;
overflow-y:visible;
max-height:950px;
}
}