h2 {
  display: flex;
  justify-content: center;
}

main {
  background-color: gray;
  /* overflow: hidden; */
  padding: 4%;
}

.dropdownSort,
.dropdown-check-list,
#moviename {
  margin-left: 10%;
}

body {
  background-image: url("CSS Stuff/FullBackground.jpg");
}

.exampleimg {
  height: 70%;
  width: 45%;
  margin: 2%;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .exampleimg {
    height: 70%;
    width: 31%;
    margin: 1%;
    cursor: pointer;
  }
  .popup {
    position: absolute;
    top: 10%;
  }
}

/* Need to make zoom card for this */
/* .imgPopupMovie {
  height: 70%;
  width: 50%;
}

.imgPopupBook {
  height: 70%;
  width: 30%; 
}
*/
.movieblock {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.popup {
  position: relative;
  top: 25%;
  left: 50%;
  width: 85%;
  height: auto;
  background-color: rgb(151, 190, 196);
  transform: translateX(-50%);
  padding: 2%;
}

.popup h1 {
  text-align: center;
}
.popup img {
  width: 80%;
  height: 40%;
  margin-left: 10%;
}

.popup iframe {
  padding: 5%;
}

.dropdown-check-list {
  display: inline-block;
}

.dropdown-check-list .anchor {
  background-color: #04aa6d;
  color: white;
  padding: 16px;
  font-size: 20px;
  border: none;
}

.dropdown-check-list ul.items {
  color: black;
  padding: 2px;
  display: none;
  margin: 0;
  /* border: 1px solid #ccc; */
  border-top: none;
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-check-list ul.items li {
  list-style: none;
}

.dropdown-check-list.visible .items {
  display: block;
}

/* Dropdown Button */

.dropbtn {
  background-color: #04aa6d;
  color: white;
  padding: 16px;
  font-size: 20px;
  border: none;
}

.dropdown-check-list {
  background-color: #04aa6d;
  color: white;
  font-size: 20px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdownSort {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content-sort {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content-sort a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content-sort a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdownSort:hover .dropdown-content-sort {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdownSort:hover .dropbtn {
  background-color: #3e8e41;
}
/* add active (phone) for genres and sort --- fix sort button not showing content*/
.dropdown-check-list:hover .anchor {
  background-color: #3e8e41;
}

#filterSubmit {
}

/* Toggle Button Main Page */
.toggle {
  position: relative;
  display: inline-block;
  width: 40%;
  height: auto;
  background-color: rgb(89, 192, 144);
  border-radius: 30px;
  color: white;
  margin-top: 5%;
  padding-bottom: 2%;
  padding-left: 2.5%;
  padding-right: 1%;
  margin-left: 30%;
}

/* After slide changes */
.toggle:after {
  content: "";
  position: absolute;
  width: 40%;
  height: 95%;
  border-radius: 50%;
  background-color: rgb(83, 80, 80);
  top: 1px;
  left: 3%;

  transition: all 0.2s;
}

/* Toggle text */
p {
  font-family: Arial, Helvetica, sans-serif;
}

/* Checkbox checked effect */
.checkbox:checked + .toggle::after {
  left: 38%;
  width: 58%;
}

/* Checkbox checked toggle label bg color */
.checkbox:checked + .toggle {
  background-color: #3e8e41;
}

/* Checkbox vanished */
.checkbox {
  display: none;
}

@media screen and (min-width: 403px) {
  .toggle:after {
    content: "";
    position: absolute;
    width: 40%;
    height: 95%;
    border-radius: 50%;
    background-color: rgb(83, 80, 80);
    top: 1px;
    left: 3%;
  }
  .checkbox:checked + .toggle::after {
    left: 38%;
    width: 58%;
  }
}
